body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}

.container {
    max-width: 400px;
    padding: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.input {
    padding: initial;
    border-radius: 8px;
    border: slategray; 
    width: 100%;
}

.buttons {
    padding: auto;
    border-radius: 8px;
    cursor: pointer;
    color:black ;
}

.buttons:hover {
    color: var(--color-accent);
}

.seeresultat {
    font-size: larger;
    font-weight: bold;
}